.mapNavigationController {
  position: relative;
}
.mapNavigationController .playerContainer {
  display: block;
  width: 150px;
  position: fixed;
  top: 70px;
  left: 10px;
  background-color: black;
  padding: 15px;
  color: #fff;
  opacity: 0.75;
}
.mapContainer {
  position: relative;
  margin-top: 50px;
}
.mapContainer .mapImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.mapContainer .player {
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lawngreen;
  border-radius: 6px;
  font-size: 10px;
  z-index: 2;
}
.mapContainer .markerSign {
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 4px;
  z-index: 2;
}
.mapContainer .markerText {
  font-size: 10px;
  position: absolute;
  width: 0px;
  top: 0;
  left: 0;
  z-index: 3;
}
/*# sourceMappingURL=mapNavigation.css.map */