@_globalPaddingForBoxes: 15px;

.mapNavigationController {
  position: relative;

  .playerContainer {
    display: block;
    width: 150px;
    position: fixed;
    top: 70px;
    left: 10px;
    background-color: black;
    padding: @_globalPaddingForBoxes;
    color: #fff;
    opacity: 0.75;
    z-index: 2;
  }
}

.mapContainer {
  position: relative;
  margin-top: 50px;

  .mapImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .player {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: lawngreen;
    border-radius: 6px;
    font-size: 10px;
    z-index: 2;
  }

  .markerSign {
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    border-radius: 4px;
    z-index: 2;
  }  
  
  .markerText {
    font-size: 10px;
    position: absolute;
    width: 500px;    
    top: 0;
    left: 0;
    z-index: 3;
  }  
}

