.messageContainer {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 15px;
  background-color: black;
  opacity: 0.75;
  color: #fff;
  z-index: 2;
  .errorMessage {

  }
  * {
    display: inline-block;
  }
}

