body {
  margin: 0;
  padding: 0;
  background-color: slategrey;
  font-family: 'Open Sans', sans-serif;
  postion: relative;
}
.mapNavigationController {
  position: relative;
}
.mapNavigationController .playerContainer {
  display: block;
  width: 150px;
  position: fixed;
  top: 70px;
  left: 10px;
  background-color: black;
  padding: 15px;
  color: #fff;
  opacity: 0.75;
  z-index: 2;
}
.mapContainer {
  position: relative;
  margin-top: 50px;
}
.mapContainer .mapImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.mapContainer .player {
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lawngreen;
  border-radius: 6px;
  font-size: 10px;
  z-index: 2;
}
.mapContainer .markerSign {
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 4px;
  z-index: 2;
}
.mapContainer .markerText {
  font-size: 12px;
  position: absolute;
  width: 500px;
  top: 0;
  left: 0;
  z-index: 3;
}
.messageContainer {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 15px;
  background-color: black;
  opacity: 0.75;
  color: #fff;
  z-index: 2;
}
.messageContainer * {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */