<html>
<head>
    <title>Arma GPS Webservice</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <style>
        @import url("less/style.css");
    </style>
    <!-- all scripts -->
    <script src="./Libs/AngularJs-1.4-stable/angular.min.js"></script>
    <script src="./Controllers/MainAppController.js"></script>
    <script src="./Controllers/MapNavigationController.js"></script>
    <!-- all scripts end -->
</head>
<body ng-app="armaGpsApp">
<div class="armaGpsAppContainer">
    <div class="mainMenuContainer"></div>
    <div class="rightClickMenuContainer"></div>

    <!-- begin of map container -->
    <div class="mapNavigationController" ng-controller="MainNavigationController">
        <!-- begin of message container -->
        <div class="messageContainer">
            <div class="welcomeMessage">{{ welcomeMessage }}{{serverConfig.host}}</div>
            <div class="errorMessage" ng-show="errorMessage">{{errorMessage}}</div>
            <button ng-click="togglePause()">{{ pause == true ? "run" : "pause" }}</button>
        </div>

        <!-- player container -->
        <div class="playerContainer">
            <div>Online:</div>
            <div class="" ng-repeat="player in armaJson">
                {{ player.name }}
            </div>
        </div>
        <!-- player container end -->

        <!-- end of message container -->
        <div class="mapContainer">
            <!-- begin of mapImage -->
            <div class="mapImage" style="background-size: {{mapConfiguration.width / scaleFactor}}px;background: url(./images/{{mapConfiguration.name}}/small.jpg) no-repeat; width: {{mapConfiguration.width / scaleFactor}}px; height: {{mapConfiguration.height / scaleFactor}}px ;">

            </div>
            <!-- end of mapImage -->

            <div class="player" ng-repeat="player in armaJson" style="
            left: {{ translatePlayerPositionX(player.position.x) }};
            top: {{ translatePlayerPositionY(player.position.y) }};
            ">{{player.name }}
            </div>
        </div>
    </div>
    <!-- end of map container -->

</div>
</body>
</html>