<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <style>
            @import url("less/style.css");
        </style>
        <!-- all scripts -->
        <script src="./Libs/AngularJs-1.4-stable/angular.min.js"></script>
        <script src="./Controllers/MainAppController.js"></script>
        <script src="./Controllers/MapNavigationController.js"></script>        
    </head>
    <body ng-app="armaGpsApp"> 
        <div class="armaGpsAppContainer">
            <div class="mainMenuContainer"></div>
            <div class="rightClickMenuContainer"></div>
            <div class="mapNavigationController" ng-controller="MainNavigationController">
                <div class="messageContainer">
                    <div class="welcomeMessage">
                        {{ welcomeMessage }}{{serverConfig.host}}
                    </div>
                    <div class="errorMessage" ng-show="errorMessage">
                        {{errorMessage}}
                    </div>
                    <button ng-click="togglePause()">
                           {{ pause == true ? "run" : "pause" }}
                    </button>
                </div>

                <div class="playerContainer">
                    <div>Online:</div>
                    <div class="" ng-repeat="player in armaPlayers">
                        {{ player.name }}
                    </div>
                </div>

                <div class="mapContainer">
                    <canvas style="position: fixed; top: 0; left: 0; z-index: 1" class="mapImage" id="mapImage" />
                </div>
            </div>
        <!-- end of map container -->
        </div>
    </body>
</html>
